In [1]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
sys.path.append('..')
# Load the raw data
from src import data_preprocessing
raw_data = pd.read_csv('../data/raw/cardio_train.csv', sep=";")

#Clean the data
raw_data = data_preprocessing.clean_data(raw_data)

In [2]:
raw_data.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [3]:
# Preprocess the data
processed_data = data_preprocessing.preprocess_data(raw_data)

# Save the processed data for further use
processed_data.to_csv('../data/processed/processed_data.csv', index=False)

# Display the first few rows of the data
processed_data.head()

,age,gender,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
0,50,2,110,80,1,1,0,0,1,0,21.967120
1,55,1,140,90,3,1,0,0,1,1,34.927679
2,51,1,130,70,3,1,0,0,0,1,23.507805
3,48,2,150,100,1,1,0,0,1,1,28.710479
4,47,1,100,60,1,1,0,0,0,0,23.011177

In [4]:
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68701 entries, 0 to 69999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          68701 non-null  int32
 1   gender       68701 non-null  int64
 2   ap_hi        68701 non-null  int64
 3   ap_lo        68701 non-null  int64
 4   cholesterol  68701 non-null  int64
 5   gluc         68701 non-null  int64
 6   smoke        68701 non-null  int64
 7   alco         68701 non-null  int64
 8   active       68701 non-null  int64
 9   cardio       68701 non-null  int64
 10  bmi          68701 non-null  float64
dtypes: float64(1), int32(1), int64(9)
memory usage: 6.0 MB